@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@700&display=swap');

html {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 425px;
    min-height: 100%;
    background-image: linear-gradient(90deg, rgb(97, 85, 7) 18%, rgb(130, 123, 58) 57%, rgb(70, 84, 37) 100%);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    width: 30rem;
    height: 54rem;
    margin-top: 16px;
    border-style: solid;
    background: #bdbb2f;
    border-radius: 8px;
}

.result {
    width: 50%;
    font-size: 90px;
    font-weight: 600;
    margin-top: 60px;
}

.reset {
    width: 50%;
}
.reset button {
    width: 150px;
    height: 65px;
    margin-top: 50px;
    background: rgb(209,13,13);
    font-family: 'Aref ruqaa', sans-serif;
    font-size: 32px;
    border-radius: 6px;
    cursor: pointer;
}

.count {
    width: 50%;
}
.count button {
    width: 200px;
    height: 75px;
    margin-top: 10px;
    background: rgb(40,117,32);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 38px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.head {
    font-family: 'Aref Ruqaa', serif; 
    font-size: 80px;
}

@media screen and (max-width: 600px) {
    .head {
      font-size: 56px;
    }
    .container {
        width: 358px;
        margin-bottom: 5em;
        height: 49rem;
    }
    .count button {
        width: 150px;
    }
}
